*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.questionpallete{
    margin: 1vw 0 1vw 1vw;
    height: 45vh;
    background-color: rgb(175, 206, 235);
    border: 1px solid rgb(0, 0, 0);

}
.heading{
    background-color: rgb(72, 111, 238);
    font-size: medium;
    color: white;
    padding: 5px;
}
button{
    padding: 5px 13.7px;
    border: none;
    margin: 2px;
}
.green{
    background-color: rgb(29, 192, 29);
}
.pink{
    background-color: rgb(206, 47, 158);
}
.yellow{
    background-color: yellow;
}
.white{
    background-color: white;
}
.purple{
    background-color: purple;
}
.gray{
    background-color: gray;
}

@media screen and (max-width: 847px) {
    .questionpallete{
        height: 30vh;
        width: 33vw;
    }
 
  }