*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgDiv1{
    border: 1px solid rgb(0, 0, 0);
    margin: 0vw 0 1vw 1vw;
    background-color: rgb(175, 206, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    height: 17vh;
}
.imgDiv1 img{
    width:5vw;
    height: 13vh;
}
@media screen and (max-width: 847px) {
   .imgDiv1{
    padding: 0;
    justify-content: center;
    margin: 1vw 0 1vw 1vw;
    flex-wrap: wrap;
    height: 30vh;
        width: 31vw;

   }
   .imgDiv1 img{
    width:100%;
    height: 24vh;
   }
   
 }