*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar{
    border: 1px solid black;
    padding: 5px;
}
.navbar ul{

    display: flex;
    list-style-type: none;
}
.navbar li{


    background-color: rgb(72, 111, 238);
    margin: .20vw;
    padding: 5px 10px;


}
.navbar a{
    text-decoration: none;
    color: white;
    font-size:medium;
}
ul .firstList{
    background-color: blue;
}

@media screen and (max-width: 847px) {
   
    
    .navbar a{
       font-size: small;
    }
        }