*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contentSection{
   
    height: 93vh;
    border: 1px solid black;
    box-shadow: 5px 1px 10px  gray;
}
nav{
    background-color:rgb(72, 111, 238);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px;
}
main{
    display: flex;
    column-gap: 40px;
}

@media screen and (max-width: 847px) {
   
 .contentSection{
    height: 50vh;
    overflow: hidden auto;
 }
  }